body {
    overflow:hidden;
    margin:0px;
    cursor:none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none; 
    -ms-user-select: none;
    user-select: none;
}
#world{
    width:2400px;
    height:1300px;
    border:1px solid #ccc;
    position:relative;
    background:#9ACD32;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none; 
    -ms-user-select: none;
    user-select: none;
}
#options{
    position: fixed;
    bottom:0px;
    left:0px;
    background-color: rgba(44, 100, 150, 0.9);
    border: 2px solid #aacccc;
    border-radius: 5px;
    z-index: 9999;
    cursor:pointer;
}
#chatBtn{
    position: fixed;
    bottom:0px;
    left:40px;
    background-color: rgba(44, 100, 150, 0.9);
    border: 2px solid #aacccc;
    border-radius: 5px;
    z-index: 9999;
    cursor:pointer;
}

#chatBox{
    position: fixed;
    display: none;
    bottom: 0px;
    right: 0%;
    width: 20%;
    padding: 5px;
    background-color: rgba(44, 100, 150, 0.5);
    border: 2px solid #aacccc;
    border-radius: 5px;
    z-index: 9999;
}
#stats{
    position: fixed;
    display: none;
    top: 20px;
    left: 10%;
    right: 10%;
    width: 80%;
    z-index: 9999;
}
#statsTable{
    border-collapse: inherit;
    border-spacing: 3px;
}
.dialogBox{
    position: fixed;
    display: none;
    bottom: 25%;
    top:25%;
    left: 25%;
    right: 25%;
    width: 40%;
    padding: 10px;
    background-color: rgba(44, 100, 150, 0.5);
    border: 2px solid #aacccc;
    border-radius: 5px;
    z-index: 9999;
    color: #ffffff;
}
.messages{
    position: fixed;
    top: 20px;
    left: 10%;
    right: 10%;
    width: 80%;
    z-index: 9999;
}

.message{
    background-color: rgba(217, 237, 247, 0.8) !important;
    padding: 5px !important;
}
.header{
    text-align: center;
}
.title{
    font-size:30px;
    color:#FFCC33;
    font-weight: bold;
}
.subtitile{
    font-size:20px;
    font-weight: bold;
}
.consoleInput{
    border:none;
    width:50%;
    margin-left:2px;
    margin-right:5px;
}

#chatLogBoxContent{
    height:250px;
    overflow:auto;
}

.chat_message{
    padding:3px;
    border:1px solid #ccc;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    margin-bottom: 3px;
    background: #efefef;
}